/*------------------------------------1.7 / Main area-------------------------------------*/

* {
    margin: 0%;
    padding: 10px; 
    box-sizing: border-box;
    border: 2px solid red;
}

/* Added on 13-06-24 */
body {
    background: url("kelly-sikkema-vtKc7BpJ-vU-unsplash.jpg");
    background-color: #1F2937;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode:multiply; changed this on 13-06-24 */

}

.outsidecontainer {
    /* background-color: white; changed this on 13-06-24 */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'JunkDog';
}

@font-face {
    font-family: 'JunkDog';
    src: url('/home/tyrell/Documents/Repos/test-js/ETCH-A-SKETCH/junkdog-font-example/creativemarket-junkdog-typeface-2564566/JunkDog.otf');
}

/*------------------------------------1.1 / Proj. heading---------------------------------*/

.projectheading {
    /* flex-basis: content;
    /*padding: 5px;*/
    display: flex;
    justify-content: center;
    /* align-content: center; 
    padding-bottom: 0px;
    background-color: #1F2937; */
    width: 70vw;
    font-size: larger;
}

/*------------------------------------1.2 / Enter grid size-------------------------------*/

.entergridsize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.entergridsizesub1 {
    display: flex;
    justify-content: center;
    /* flex-basis: 100%; */
    font-size:medium;
}

.inputgridsize{
    width: 10%;
    font-family: inherit; /* changed this on 13-06-24 */
}

#copyinput-id {
    width: 35%;
}

.entergridsizesub2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.entergridsizesub3{
    padding: 0px;
}

.warnprompt {
    width: 100%;
    text-align: center;
    /* font-size: medium; */
    height: 45px;
}

/* .prompt {
    display: block;
} */

/*------------------------------------1.3 / Display desired grid size---------------------*/


/*------------------------------------1.4 / Select colour---------------------------------*/

.selectcolourbuttonscontainer {
    display: flex;
    justify-content: center;
    width: 70vw;
    /* padding: 5px; */
    /* cursor: pointer; */
}

.selectcolourbuttonscontainer input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .selectcolourbuttonscontainer label {
    display: inline-block;
    /* background-color: #ddd; */
    background-color: white;
    color: black;
    padding: 10px 20px;
    /* font-family: sans-serif, Arial; changed this on 13-06-24 */
    font-family: inherit;
    /* font-size: 16px; */
    font-size:medium;
    border: 2px solid #444;
    border-radius: 5px;
    cursor: pointer; 
    /* Found it on 14-06. The answer lay simply in locating the class and property. */
}

.selectcolourbuttonscontainer input[type="radio"]:checked + label {
    background-color:#0000EE;
    /* border-color: #4c4; */
    border-color: #85ceff;
    /* 85ceff */
    /* transition: 0.2s all; */
}

.selectcolourbuttonscontainer input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.selectcolourbuttonscontainer label:hover {
    background-color: #85ceff;
  }

  /* .clearbutton{
    padding-bottom: 5px;
  } Revisit this. Perhaps adding in a div would work. changed this on 13-06-24. */
/*------------------------------------1.5 / Square Target Container-----------------------*/

.outersquarescontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh; /* was 40vh initially */
    padding: 5px 5px;
    /* width: 40vw;
    height: 40vh; */
    /* width: 500px;
    height: 500px; */
}

.mainsquarescontainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    /* border: 5px solid #4d1919; */
    /* width: 100%;
    height: 100%; */
}

/* .rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0; width: 100%;
} CHECK THIS */

/* .insiderows {
    display: flex;
    flex: 1; width: 100%;
    /* flex-basis: 100%; *
} CHECK THIS */

/*------------------------------------1.6 / Footer Area-----------------------------------*/

.creditsfooter {
    /* display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    flex-basis: content; 
    
    text-align: center; */
    display: flex;
    justify-content: center;
    /* padding-top: 0%; */

    /* align-items: flex-end; */
    width: 70vw;
    font-size: smaller;
}

/* .labelheading h2, .creditsfooter p {
    text-align: center;
} CHECK THIS */

.projectheading-h2, .creditsfooter p {
    text-align: center;
}

.parafooter {
    text-align: center;
}

/*------------------------------------1.7 / Main area-------------------------------------*/


/*------------------------------------ALL OTHER-------------------------------------------*/

/* .box {
    height: 300px;
    width: 650px; 
    display: flex;
    justify-content: center;   
}  could also have gone with just .box  */




/* ----------------------------------------------------------------------------------------*/
.button {
    border-radius: 5px;
    /* border: 3px solid rgb(71, 69, 69); add later maybe */
    cursor: pointer;
    /* crosshair for later! */
}

.buttonspace {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    flex-basis: content;
}

.inbuttonspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.button {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    /* padding: 20px; changed this on 13-06-24 */
    /* padding: 10px;
    margin: 10px; */
    font-family: inherit; /* changed this on 13-06-24 */
    /* font-size: 16px; */
    font-size:medium;
    cursor: pointer;
}

#black-pen, #red-pen, #rainbow, #eraser{
    cursor: pointer;
}

a {
    padding: 0px;
}

.setreset:hover {
    background-color: skyblue;
    color: white;
    box-shadow: 0 0 30px 0 skyblue,
                0 0 30px 0 skyblue,
                0 0 10px 0 skyblue inset;
}
/* ----------------------------------------------------------------------------------------*/
/* .squaresarea { SEE 10)1) AND 2) in copy
    /* display: flex; 
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 90%;

    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */

    /* padding: 0px; *
    
}

/* .squaresgrids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
} 

.checksquares {
    display: flex;
    flex-basis: 100%;
    height: 30%;
    /* width: calc(100%/3); */
    
    /* flex: 1 1 1; */
    /* width: 100%;
    height: 100%;
    gap: 0px; 
} */

/* .squaresarea{ SEE 10)2) in copy
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.rowshai{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;

    
}

.insiderows {
    flex-basis: 100%;
}*/
table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0;
}

tr{
    padding:0;
}



/*----------------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------*/



































































































/* TAYLOR SWIFT VERSION BEGINS HERE */
